#displayAilment{
  display: none;
}

#displayName{
  display: none;
}

#ailmentButt{
  margin-bottom: 20px;
}

#nameButt{
  margin-bottom: 20px;
}

.cardSearch{
  background-color:#FEFDE5;
  padding: 20px;
}

.cardList{
  background-color:#FEFDE5;
}

.jumbotron{
  text-align: center;
  background-color:#FEFDE5;
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Noto Sans', sans-serif;
}

p{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

body{
  /*background-color: #53637D;*/
  background-image: url("https://images.pond5.com/falling-pills-background-footage-000293462_prevstill.jpeg");
  background-size: 100%;
}

ul{
  margin: 10px;
}

li{
  margin: 10px;
}
